.productContainer {
    min-width: 600px;
    width: auto;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 0 5px;
}

.productRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 3rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

#checkoutForm {
    margin-top: 16px;
}