<h2>Products</h2>
  
<div *ngFor="let product of products; index as id">
  <h3 style="margin-block-end: 0.3rem;">
    <a [title]="product.name + ' details'" [routerLink]="['/product-details', id]">
      {{ product.name }}
    </a>
  </h3>
  <div>{{ product.description}}</div>
  <div *ngIf="!product.description"> ------- </div>
  <button style="margin-block-start: 0.5rem;" (click)="share(product.name)" >Share</button>
  <product-alerts
    [product]="product"
    (notify)="notifyMe($event)"
  >
  </product-alerts>
</div>
